.navbar-brand img {
    width: 100px;
    margin-left: 30px;
}

.navbar-nav {
    margin-left: 700px;
    gap: 30px;
}

.box2 img {
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.box1 {
    display: flex;
}

.box3 {
    color: black;
    margin-top: 200px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background-color: rgb(126, 125, 125);
}

.card-img-overlay {
    margin-left: 90px;
    margin-top: 250px;
    text-align: center;
}

.div {
    text-align: center;
}

.container {
    display: flex;
}

.div1 {
    box-shadow: 5px 0.5rem 2.5rem -0.5rem black;
    ;
    width: 900px;
    margin-left: 200px;
}

.card-body {
    box-shadow: 5px 0.5rem 2.5rem -0.5rem black;
}

.dis {
    display: flex
}

.text {
    display: flex;
}

.li {
    margin-top: 20px;

}

.d {
    display: flex;

}
.id{
    font-size:50px;
    text-align: center;
}
.container7{
    background-color: rgb(250, 250, 250);
}
.skil{
    display: flex;
}
.skill2{
    display: flex;
}